
*
{
	margin: 0px;
	padding: 0px;
}

.header
{
	background-color: skyblue;
	line-height: 70px;
	padding-left: 30px;
}
 .header a{
	text-decoration: none;
}
.Logout
{
	float: right;
	padding-right: 30px;
}
ul{
	background-color: #424a5b;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	text-align: center;
}
ul li
{
	list-style: none;
	padding-bottom: 30px;
	font-weight: 15px;
}
ul li a
{
	color: white;
	text-decoration: none;
	font-size: bold;
}
ul li a:hover
{
	color: skyblue;
}
.content
{
	margin-left: 20%;
	margin-top: 5%;
}
table{
	border: 1px solid;
}